<!DOCTYPE html>
<html>
  <head>
    <title>Admin_panel</title>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid" style="background: whitesmoke">
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/home/index">
        <img src="<%= asset_path("logotip.png") %>" width="40" height="40" alt="Opps!" />
      </a> 

      <div>
       <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/tracks">Трэки</a></li>
                <li class="nav-item"><% if user_signed_in? %>
         Hello,  <%= current_user.username %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          
          <% else %>
          <%= link_to 'Войти в uploader', new_user_session_path %>
          
        <%end%></li>
       </ul> 
      </div>
      


       
    </nav> 
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
